{% extends "core/base.html" %}
{% load blog_tags %}
{% load static %}
{% block title %}My Blog{% endblock %}



{% block content %}
  <div class="col-2">
    <h1>Postagens</h1>
    {% if tag %}
      <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
  </div>
  <div class="row">
    {% for post in posts %}
      <article class="col-6 col-12-large work-item">
        <a href="{{ post.get_absolute_url }}" class=""><img src="{% static 'css/images/thumbs/01.jpg' %}" alt="" /></a>
        <h3>{{ post.title }}</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
    {% endfor %}
  </div>
  
  {% include "core/pagination.html" with page=posts %}
{% endblock %}