{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'landing_page:landing_page' %}">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'account:dashboard' %}">Profile</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:post_list' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mission:mission_list' %}">Missões</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schedule:schedule_list' %}">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:store_root' %}">Loja</a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Config
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'account:edit' %}">Editar</a></li>
              <li><a class="dropdown-item" href="{% url 'account:password_change' %}">Alterar Senha</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'account:logout' %}">Sair</a></li>
            </ul>
          </li>
        {% else %}
          <a href="{% url 'account:login' %}">Log-in</a>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>