{% extends "base.html" %}
{% load blog_tags %}
{% load static %}
{% load fb_versions %}
{% block title %}Agenda da missão{% endblock %}


{% block body %}
    <div>   
        <div class="text-center">
            <img src="{% version schedule.image 'widefull' %}" class="img-fluid w-75 rounded shadow">
        </div>
        <div class="container px-5 mx-5 pt-4">
            <div class="px-5">
                <h1>
                    {{ schedule.name }}
                </h1>
                <div>
                    <p class="card-text"><small class="text-muted"><i class="fa-solid fa-clock"></i> {{ schedule.date_ini }}</small></p>
                    <p class="card-text"><small class="text-muted"><i class="fa-solid fa-location-dot" style="color: #3823d7;"></i> {{ schedule.location }}</small></p>
                    <p> {{ schedule.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}