{% extends "base.html" %}
{% load blog_tags %}
{% load static %}
{% load fb_versions %}
{% block title %}Agenda da missão{% endblock %}


{% block body %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for evento in schedules %}
        <div class="col">
            <a href="{{ evento.get_absolute_url }}">
                <div class="card shadow">
                    <img src="{% version evento.image 'sm'  %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{ evento }}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}